@import './base.css';
@import './typography.css';
@import './button.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  width: fit-content;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.offset {
  margin: 80px;
}

.offset.title {
  margin: 90px 80px 80px;
}

.position-center {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
}