@font-face {
    font-family: 'Good Vibes Cyr';
    src: url('./fonts/GoodVibesCyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400, 500, 700;
    font-style: normal;
    font-display: swap;
}

.title {
    font-family: 'Good Vibes Cyr';
    color: var(--color-dark-beige);
    text-align: center;
    line-height: normal;
}

.title.large {
    font-size: 200px;
}

.title.popup {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: var(--color-dark-beige);
}

.text {
    font-size: 64px;
    color: var(--color-dark-beige);
}

body.contrast .title {
    color: var(--color-dark-beige-contrast);
}